{% extends "layout.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
</script>
<script type="text/javascript">
    setTimeout(function() {
        Sijax.request('update_recording_button');
        setTimeout(arguments.callee,500);
    }, 500);
</script>
{% endblock %}

{% block body%}
{{ super() }}

<div class="imagebox">
    <div>
        <img src="http://{{hostaddr}}:{{camera_mjpeg_port}}/stream?topic={{camera_topic}}?width={{capture_tab_image['width']}}?height={{capture_tab_image['height']}}" />
    </div>

    <div>
        <img src="http://{{hostaddr}}:{{progress_mjpeg_port}}/stream?topic={{progress_bar_topic}}" />
    </div>

    <div>
        <img src="http://{{hostaddr}}:{{progress_mjpeg_port}}/stream?topic={{progress_message_topic}}" />
    </div>
</div>

<div class="infobox">


    <strong> Trial Settings </strong> 
    <br/><br/>
    <table>
    {% for item in trial_display %}
        <tr>
            <td  class="{{item['class']}}"> {{item['name']}} </td>  
            <td id="{{item['name'].replace(' ', '_')}}" class="{{item['class']}}"> {{item['value']}} </td>
        </tr>
    {% endfor %}
    </table>
    <br/>
    <br/>
    
    <strong> Log Settings </strong> 
    <br/><br/>
    <table>
    {% for item in log_display %}
        <tr>
            <td class="{{item['class']}}"> {{item['name']}} </td>  
            <td id="{{item['name'].replace(' ','_')}}" class="{{item['class']}}"> {{item['value']}} </td>
        </tr>
    {% endfor %}
    </table>
    <br/>
    <br/>

    <div style="text-align:left;"> 
        <button  name="recording_button" id="recording_button" onclick="Sijax.request('start_stop_recording');">{{recording_button_text}} </button>
        &nbsp;
        <span class="warning" id="avi_exists_message">  </span>
        <span class="warning" id="proxy_error_message"> </span>
    </div>

</div>
{% endblock %}
