{% extends "layout_tabs.html" %}
{% import "displays.html" as displays %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/static/js/sijax/sijax.js"></script>
<script type="text/javascript">
    {{ g.sijax.get_js()|safe }}
</script>
<script type="text/javascript">
    setTimeout(function() {
        Sijax.request('update_recording_button');
        setTimeout(arguments.callee,500);
    }, 500);
</script>

<script> 
    function handleChange(input) { 
        if (input.value < 0) input.value = 0; 
        if (input.value > 1000) input.value = 1000; 
        Sijax.request('update_ir_light',[input.value]);
    } 
</script>

{% endblock %}

{% block body%}
{{ super() }}

<div class="imagebox">
    <div>
        <img src="http://{{hostaddr}}:{{fps_mjpeg_port}}/stream?topic={{fps_topic}}?quality={{mjpeg_quality}}"/>
    </div>
    <div>
        <img src="http://{{hostaddr}}:{{camera_mjpeg_port}}/stream?topic={{camera_topic}}?width={{capture_tab_image['width']}}?height={{capture_tab_image['height']}}?quality={{mjpeg_quality}}"/> 
    </div>

    <div>
        <img src="http://{{hostaddr}}:{{progress_mjpeg_port}}/stream?topic={{progress_bar_topic}}?quality={{mjpeg_quality}}" />
    </div>

    <div>
        <img src="http://{{hostaddr}}:{{progress_mjpeg_port}}/stream?topic={{progress_message_topic}}?qualtiy={{mjpeg_quality}}" />
    </div>
</div>

<div class="infobox">

    <strong> Trial Settings </strong> 
    <br><br>
    {{ displays.show_trial(trial_display) }}
    <br>
    <br>
    
    <strong> Log Settings </strong> 
    <br><br>
    {{ displays.show_log(log_display) }}
    <br>
    <br>

    <div style="text-align:left;"> 
        IR Light (Ch B) <input name="ir_light_input" id="ir_light_input" size="3" value="0" onKeyPress="return numbersonly(this,event)" onChange="handleChange(this)"\>
        mA
        <br> <br> <br>
        <button  name="recording_button" id="recording_button" onclick="Sijax.request('start_stop_recording');">{{recording_button_text}} </button>
        &nbsp;
        <span class="warning" id="avi_exists_message">  </span>
        <span class="warning" id="proxy_error_message"> </span>
    </div>

</div>
{% endblock %}
