{% extends "layout_tabs.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript">
    function reload_page() {
        var scale = document.getElementById('scale_select').value;
        var url = window.location.href;
        if (url.indexOf("?")>-1){
            url = url.substr(0,url.indexOf("?"));
        }
        window.location.href = url + "?scale=" + scale;
        return false;
    }
</script>
{% endblock %}

{% block body%}
{{ super() }}
<div>
<form action="{{url_for('fullsize_view')}}" name="scale_form">
    Scale:  
    <select name="scale" id="scale_select" onChange="reload_page()">
        {% for value in scale_options %}
            {% if value == current_scale %}}
                <option selected="selected" value="{{value}}"> {{value}}</option>
            {% else %}
                <option value="{{value}}"> {{value}}</option>
            {% endif %}
        {% endfor %}
    </select>
</form>
<div>

 <div style="float:left;margin-right:15px;margin-top:0px;">
     <div>
        <img id="fullsize_image" src="http://{{hostaddr}}:{{camera_mjpeg_port}}/stream?topic={{camera_topic}}?width={{image_width}}?height={{image_height}}"/> 
    </div>
 </div>
 
{% endblock %}
