{% extends "layout_tabs.html" %}
{% block body%}
{{ super() }}

<br>
<strong> Data Directory </strong>
<br>
<table>
    <tr>
        <td class="c2"> {{data_directory}} </td>
    </tr>
</table>

<br>
<strong> Computer </strong> 
<br>
<table>
    {% for name, value, color in computer_info %}
        <tr>
            <td class={{color}}> {{name}} </td> <td class={{color}}> {{value}} </td>
        </tr>
    {% endfor %}
</table>

<br>
<strong> MJPEG Streams </strong>
<table>
    <tr>
        <td class="c2">
            <a href="http://{{hostaddr}}:{{camera_mjpeg_port}}/stream?topic={{camera_topic}}"> 
                http://{{hostaddr}}:{{camera_mjpeg_port}}/stream?topic={{camera_topic}}
            </a>
        </td>
    </tr>
    <tr>
        <td class="c1">
            <a href="http://{{hostaddr}}:{{progress_mjpeg_port}}/stream?topic={{progress_bar_topic}}" > 
                http://{{hostaddr}}:{{progress_mjpeg_port}}/stream?topic={{progress_bar_topic}}
            </a>
        </td>
    </tr>
    <tr>
        <td class="c2">
            <a href="http://{{hostaddr}}:{{progress_mjpeg_port}}/stream?topic={{progress_message_topic}}"> 
                http://{{hostaddr}}:{{progress_mjpeg_port}}/stream?topic={{progress_message_topic}} 
            </a>
        </td>
    </tr>
    <tr>
        <td class="c1">
            <a href="http://{{hostaddr}}:{{fps_mjpeg_port}}/stream?topic={{fps_topic}}">
                http://{{hostaddr}}:{{fps_mjpeg_port}}/stream?topic={{fps_topic}}
            </a>
        </td>
    </tr>
</table>
<br>

<br> 
<strong> ROS Topics </strong> 
<br>
<table>
    {% for topic, color in ros_topics %}
        <tr>
            <td class={{color}}> {{topic}} </td>
        </tr>
    {% endfor %}
</table>

<br> <br>
<strong> Database and Ports </strong>
<table>
    {% for name, value, color in db_port_info %}
        <tr>
            <td class={{color}}> {{name}} </td> <td class={{color}}> {{value}} </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
