{% extends "settings.html" %}
{% import "forms.html" as forms %}
{% import "displays.html" as displays %}

{% block head %}
{{ super() }}

{% endblock %}
{% block body%}
{{ super() }}

{# Show form changing log settings #}
<br>
<strong> Log Settings </strong> <br>
<br>
{{ forms.input_log(log_display) }}

{% if set_values_flag %}
    <br>
    <br>
    <strong> Values Set To: </strong> 
    <br><br>
    {{ displays.show_log(log_display) }}
{% endif %}

{# Show any request messages #}
{% if deleted_avi_files %}
<br>
<br>
<strong> Files Deleted </strong>
<br>
<br>
{% for name in deleted_avi_files %}
{{name}} <br>
{% endfor %}
{% endif %}

{# Display existing avi files form #}
<br><br>
<strong> Existing Movie Files: </strong> 
<hr/>
<br><br>
{% if avi_display %}
    {{ forms.existing_avi(avi_display) }}
{% else %}
    Data directory empty
{% endif %}

{% endblock %}
