
        <tr>
            <td class="c2"> Recording Duration: </td> 
            <td class="c2">  
                <input {{disabled}} id="recording_duration_hr"  name="recording_duration_hr"   type="text" onKeyPress="return numbersonly(this,event)" size="10" value={{recording_duration[0]}} /> hr &nbsp; 
                <input {{disabled}} id="recording_duration_min" name="recording_duration_min"  type="text" onKeyPress="return numbersonly(this,event)" size="10" value={{recording_duration[1]}} /> min &nbsp; 
                <input {{disabled}} id="recording_duration_sec" name="recording_duration_sec"  type="text" onKeyPress="return numbersonly(this,event)" size="10" value={{recording_duration[2]}} /> sec 
            </td>
            <td class="c2"> </td>
            <td class="c2"> </td>
        </tr>

        <tr>   
            <td class="c1"> Pulse Start Time: </td> 
            <td class="c1"> 
                <input id="pulse_start_time_hr" name="pulse_start_time_hr" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_start_time[0]}} /> hr &nbsp;
                <input id="pulse_start_time_min" name="pulse_start_time_min" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_start_time[1]}} /> min &nbsp;
                <input id="pulse_start_time_sec" name="pulse_start_time_sec" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_start_time[2]}} /> sec 
            </td>
            <td class="c1"> </td> 
            <td class="c1"> </td>
        </tr>
        <tr>
            <td class="c2"> Pulse High Time: </td>
            <td class="c2"> 
                <input id="pulse_high_time_hr" name="pulse_high_time_hr" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_high_time[0]}} /> hr &nbsp; 
                <input id="pulse_high_time_min" name="pulse_high_time_min" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_high_time[1]}} /> min &nbsp; 
                <input id="pulse_high_time_sec" name="pulse_high_time_sec" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_high_time[2]}} /> min 
            </td>
            <td class="c2"> </td>
            <td class="c2"> </td>
        </tr>
        <tr> 
            <td class="c1"> Pulse Period: </td> 
            <td class="c1"> 
                <input id="pulse_period_hr" name="pulse_period_hr" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_period[0]}} /> hr &nbsp; 
                <input id="pulse_period_min" name="pulse_period_min" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_period[1]}} /> min &nbsp; 
                <input id="pulse_period_sec" name="pulse_period_sec" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_period[2]}} /> min 
            </td>
            <td class="c1"> </td>
            <td class="c1"> </td>
        </tr>
        <tr>
            <td class="c2"> Number of Pulses: </td>
            <td class="c2">
                <input id="number_pulses" name="number_pulses" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size="10" value={{number_pulses}} />  
            </td>
            <td class="c2"> </td>
            <td class="c2"> </td>
        </tr>
        <tr>
            <td class="c1"> Pulse Power: </td>
            <td class="c1"> 
                <input id="pulse_power" name="pulse_power" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_power}} /> % 
            </td>
            <td class="c1"> </td>
            <td class="c1"> </td>
        </tr>
