{% extends "settings.html" %}
{% block body %}
{{ super() }}

<br/>
<strong> Trial Settings </strong> <br/>
<br/>
<form name="trial_settings_form" method="post">
    <table>
        <tr>
            <td class="c2"> Recording Duration: </td> 
            <td class="c2">  
                <input name="duration_min" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size="10" value={{recording_duration[0]}} /> (min) &nbsp; 
                <input name="duration_sec" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size="10" value={{recording_duration[1]}} /> (sec) 
            </td>
            <td class="c2"> </td>
            <td class="c2"> </td>
        </tr>
        <tr>
            <td class="c1"> Number of Pulses: </td>
            <td class="c1">
                <input name="number_pulses" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size="10" value={{number_pulses}} />  
            </td>
            <td class="c1">
            </td>
        </tr>
        <tr>   
            <td class="c2"> Pulse Start Time: </td> 
            <td class="c2"> 
                <input name="pulse_start_time_min" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_start_time[0]}} /> (min) &nbsp;
                <input name="pulse_start_time_sec" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_start_time[1]}} /> (sec) 
            </td>
            <td class="c2"> </td> 
            <td class="c2"> </td>
        </tr>
        <tr> 
            <td class="c1"> Pulse Period: </td> 
            <td class="c1"> 
                <input name="pulse_period" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_period}} /> (sec) 
            </td>
            <td class="c1"> </td>
        </tr>
        <tr>
            <td class="c2"> Pulse Duty Cycle: </td>
            <td class="c2"> 
                <input name="pulse_duty_cycle" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_duty_cycle}} /> (%) 
            </td>
            <td class="c2"> </td>
            <td class="c2"> </td>
        </tr>
        <tr>
            <td class="c1"> Pulse Power: </td>
            <td class="c1"> 
                <input name="pulse_power" {{disabled}} type="text" onKeyPress="return numbersonly(this,event)" size=10 value={{pulse_power}} /> (%) 
            </td>
            <td class="c1"> </td>
            <td class="c1"> </td>
        </tr>
    </table>
    <br/>
    <button {{disabled}} type="submit" name="set_values"> Update Values</button> 
    &nbsp;&nbsp;
    <button {{disabled}} type="submit" name="save_values"> Save Values As </button>
    <input name="save_name" {{disabled}} type="text" size=57 /> 
</form>

{% if values_set_flag %}
    <br/> <br/>
    <strong> Values Set To: </strong> 
    <br/><br/>
    <table>
    {% for item in trial_display %}
        <tr>
            <td class="{{item['class']}}"> {{item['name']}} </td>  
            <td class="{{item['class']}}"> {{item['value']}} </td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

<br/> <br/>
<strong> Saved Trial Values: </strong>

<br/>
<br/>

{% endblock %}
