<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>LIA Video</title>
        <link rel= "stylesheet" type="text/css" href="static/style.css"> </link>
        <script type="text/javascript" src="static/numbersonly.js"></script>
    </head>

    <body id="{{current_tab}}">

        {% block body %}

        <h1 class="title">LIA - Video Acquisition System</h1> 

        <ul id="tabnav">
            {% for k in tab_order %}
            <li class="{{tab_dict[k]['tab']}}"><a href="{{url_for(k)}}">{{tab_dict[k]['label']}} </a></li>
            {% endfor %}
        </ul>

        {% endblock %}

        <div class="footer">
        </div>

    </body>
</html>
